#app {
  display: table;
  table-layout: fixed;
  border-spacing: 15px;
  font-family: sans-serif;
  width: 100%;
}

h1 {
  display: table-caption;
}

label, .description {
  width: 9em;
  vertical-align: top;
  display: table-cell;
}

#input, output {
  display: table-cell;
}

#input {
  width: 500px;
  height: 300px;
}

output {
  font-size: small;
  border: 1px solid;
}

.input-section, .output-section, .performance-section, .descr-section {
  display: table-row;
  padding-top: 15px;
}

.description {
  color: blue;
}
